In [30]:
##Connecting Python to SQlite3

In [16]:
import sqlite3
import pandas as pd

# Read data from CSV
df = pd.read_csv('Expense_tracker.csv')
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')

# Connect to SQLite database
conn = sqlite3.connect('expense_db.db')
cursor = conn.cursor()

# Create the Expenses table
create_table_query = """
CREATE TABLE IF NOT EXISTS Expenses (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    Date DATE,
    Category TEXT,
    Payment_Mode TEXT,
    Description TEXT,
    Amount DECIMAL(10, 2),
    Cashback DECIMAL(10, 2)
);
"""
cursor.execute(create_table_query)

# Insert data into the table from the dataframe
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO Expenses (Date, Category, Payment_Mode, Description, Amount, Cashback)
    VALUES (?, ?, ?, ?, ?, ?)
    """
    values = (row['Date'], row['Category'], row['Payment_Mode'], row['Description'], row['Amount'], row['Cashback'])
    cursor.execute(insert_query, values)

conn.commit()
print("Data inserted successfully!")

Data inserted successfully!

In [28]:
## Creating Queries

In [32]:
# 1. Total Expenses
select_query = "SELECT SUM(Amount) AS Total_Expense FROM expenses;"
cursor.execute(select_query)
rows = cursor.fetchall()
print(rows)

[(4901665.96,)]

In [33]:
# 2. Total number of transactions:
select_query = "SELECT COUNT(*) AS Total_transactions FROM Expenses;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

(9600,)

In [34]:
# 3. First and last transaction date:
select_query = "SELECT MIN(Date) AS First_transaction, MAX(Date) AS Last_transaction FROM Expenses;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

('2024-01-01', '2024-12-30')

In [35]:
# 4. Total, Avg, Min, Max Spending by Category:
select_query = "SELECT Category, SUM(Amount) AS Total_spent, Avg(Amount) AS Avg_spent, MAX(amount) AS Max_spent, MIN(amount) AS Min_spent FROM expenses GROUP BY Category ORDER BY Total_spent, Avg_spent, Max_spent, Min_spent;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

('Medical Health', 659645.88, 489.3515430267062, 999.2, 15.72)
('Transportation', 672086.6, 506.08930722891563, 994.52, 14.53)
('Investment', 693521.32, 511.44640117994095, 993.88, 12.35)
('Shopping', 701044.16, 539.2647384615385, 998.73, 14.77)
('Entertainment', 718745.68, 495.00391184573004, 997.91, 14.62)
('Food', 722062.04, 524.7543895348838, 998.5, 21.89)
('Groceries', 734560.28, 510.1113055555556, 994.65, 11.38)

In [37]:
# 5. Transactions Count by Category:
select_query = "SELECT Category, COUNT(*) AS Total_trans FROM Expenses GROUP BY Category ORDER BY total_trans DESC;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

('Entertainment', 1452)
('Groceries', 1440)
('Food', 1376)
('Investment', 1356)
('Medical Health', 1348)
('Transportation', 1328)
('Shopping', 1300)

In [39]:
# #6. Monthly Expenses:
select_query = "SELECT strftime('%Y-%m', Date) AS month, SUM(Amount) AS Total_spent FROM Expenses GROUP BY strftime('%Y-%m', Date) ORDER BY month;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

('2024-01', 400472.88)
('2024-02', 424695.76)
('2024-03', 383321.2)
('2024-04', 419879.52)
('2024-05', 406339.88)
('2024-06', 389987.92)
('2024-07', 417089.2)
('2024-08', 408275.16)
('2024-09', 439198.72)
('2024-10', 409144.52)
('2024-11', 400858.8)
('2024-12', 402402.4)

In [40]:
# 7. Daily Expenses:
select_query = "SELECT DATE(date) AS Day, SUM(amount) AS Total_expenses FROM expenses GROUP BY DATE(date) ORDER BY day;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

('2024-01-01', 5682.92)
('2024-01-02', 8092.92)
('2024-01-03', 22470.76)
('2024-01-04', 9574.36)
('2024-01-05', 16268.64)
('2024-01-06', 6392.84)
('2024-01-07', 19696.52)
('2024-01-08', 17498.04)
('2024-01-09', 20721.64)
('2024-01-10', 17899.600000000002)
('2024-01-11', 12147.32)
('2024-01-12', 20640.04)
('2024-01-13', 5803.68)
('2024-01-14', 25392.12)
('2024-01-15', 6444.16)
('2024-01-16', 6327.08)
('2024-01-17', 17152.28)
('2024-01-18', 19042.44)
('2024-01-19', 10051.92)
('2024-01-20', 11806.36)
('2024-01-21', 10409.960000000001)
('2024-01-22', 10343.12)
('2024-01-23', 14902.0)
('2024-01-24', 17006.2)
('2024-01-25', 23417.72)
('2024-01-26', 5828.599999999999)
('2024-01-27', 7135.16)
('2024-01-28', 12427.88)
('2024-01-29', 3787.2799999999997)
('2024-01-30', 16109.32)
('2024-02-01', 15490.48)
('2024-02-02', 24799.12)
('2024-02-03', 22866.64)
('2024-02-04', 10628.119999999999)
('2024-02-05', 10835.04)
('2024-02-06', 14979.64)
('2024-02-07', 21969.84)
('2024-02-08', 17137.48)
('2024-02-09', 9097.24)
('2024-02-10', 12584.92)
('2024-02-11', 3554.7200000000003)
('2024-02-12', 16333.08)
('2024-02-13', 7556.72)
('2024-02-14', 23554.48)
('2024-02-15', 17769.079999999998)
('2024-02-16', 27346.0)
('2024-02-17', 19001.16)
('2024-02-18', 25203.56)
('2024-02-19', 18115.04)
('2024-02-20', 7200.96)
('2024-02-21', 12478.6)
('2024-02-22', 26053.92)
('2024-02-23', 8345.039999999999)
('2024-02-24', 7642.799999999999)
('2024-02-25', 6705.72)
('2024-02-26', 15498.72)
('2024-02-27', 9725.88)
('2024-02-28', 12221.76)
('2024-03-01', 8190.24)
('2024-03-02', 14036.52)
('2024-03-03', 13294.92)
('2024-03-04', 5861.72)
('2024-03-05', 16265.88)
('2024-03-06', 13179.4)
('2024-03-07', 11418.2)
('2024-03-08', 21309.36)
('2024-03-09', 30481.16)
('2024-03-10', 13731.84)
('2024-03-11', 9377.12)
('2024-03-12', 2292.48)
('2024-03-13', 10231.439999999999)
('2024-03-14', 9962.56)
('2024-03-15', 9626.44)
('2024-03-16', 17282.84)
('2024-03-17', 3046.88)
('2024-03-18', 13093.4)
('2024-03-19', 14310.48)
('2024-03-20', 23623.68)
('2024-03-21', 18431.52)
('2024-03-22', 13751.72)
('2024-03-23', 5789.12)
('2024-03-24', 15345.96)
('2024-03-25', 15467.76)
('2024-03-26', 5552.84)
('2024-03-27', 13342.44)
('2024-03-28', 13326.68)
('2024-03-29', 7661.84)
('2024-03-30', 14034.76)
('2024-04-01', 21377.32)
('2024-04-02', 11501.039999999999)
('2024-04-03', 7065.4400000000005)
('2024-04-04', 17739.16)
('2024-04-05', 22605.32)
('2024-04-06', 17068.72)
('2024-04-07', 19498.84)
('2024-04-08', 27447.0)
('2024-04-09', 16676.68)
('2024-04-10', 18910.92)
('2024-04-11', 10114.92)
('2024-04-12', 14391.8)
('2024-04-13', 6992.12)
('2024-04-14', 16367.08)
('2024-04-15', 19739.56)
('2024-04-16', 13378.52)
('2024-04-17', 14713.04)
('2024-04-18', 1709.4)
('2024-04-19', 21793.0)
('2024-04-20', 15579.12)
('2024-04-21', 22510.96)
('2024-04-22', 1070.76)
('2024-04-23', 6018.36)
('2024-04-24', 26350.440000000002)
('2024-04-25', 3305.04)
('2024-04-26', 23276.0)
('2024-04-27', 11826.32)
('2024-04-28', 2757.96)
('2024-04-29', 8094.68)
('2024-05-01', 6788.96)
('2024-05-02', 14948.0)
('2024-05-03', 16826.08)
('2024-05-04', 4986.68)
('2024-05-05', 16610.88)
('2024-05-06', 11316.52)
('2024-05-07', 12943.88)
('2024-05-08', 9534.84)
('2024-05-09', 13022.48)
('2024-05-10', 21285.4)
('2024-05-11', 7657.68)
('2024-05-12', 12094.6)
('2024-05-13', 11835.52)
('2024-05-14', 13274.0)
('2024-05-15', 19628.64)
('2024-05-16', 9582.52)
('2024-05-17', 14827.32)
('2024-05-18', 18737.84)
('2024-05-19', 24213.88)
('2024-05-20', 12783.92)
('2024-05-21', 3420.8)
('2024-05-22', 21832.52)
('2024-05-23', 14228.6)
('2024-05-24', 13009.52)
('2024-05-25', 18194.64)
('2024-05-26', 11767.48)
('2024-05-27', 13742.4)
('2024-05-28', 7369.4)
('2024-05-29', 14164.04)
('2024-05-30', 15710.84)
('2024-06-01', 15051.44)
('2024-06-02', 16589.72)
('2024-06-03', 14207.44)
('2024-06-04', 9294.08)
('2024-06-05', 2551.16)
('2024-06-06', 13274.119999999999)
('2024-06-07', 7726.04)
('2024-06-08', 8723.960000000001)
('2024-06-09', 19180.36)
('2024-06-10', 21957.4)
('2024-06-11', 14160.0)
('2024-06-12', 11013.76)
('2024-06-13', 15487.92)
('2024-06-14', 6575.6)
('2024-06-15', 21712.2)
('2024-06-16', 15481.44)
('2024-06-17', 31984.28)
('2024-06-18', 15634.960000000001)
('2024-06-19', 3877.88)
('2024-06-20', 4975.56)
('2024-06-21', 14526.88)
('2024-06-22', 6442.64)
('2024-06-23', 26517.16)
('2024-06-24', 6705.96)
('2024-06-25', 3182.3199999999997)
('2024-06-26', 11107.48)
('2024-06-27', 14246.8)
('2024-06-28', 20979.92)
('2024-06-29', 16819.44)
('2024-07-01', 13248.52)
('2024-07-02', 19967.92)
('2024-07-03', 6808.320000000001)
('2024-07-04', 7213.280000000001)
('2024-07-05', 3445.08)
('2024-07-06', 9879.04)
('2024-07-07', 22358.32)
('2024-07-08', 12707.32)
('2024-07-09', 10396.48)
('2024-07-10', 14936.92)
('2024-07-11', 19358.52)
('2024-07-12', 18841.760000000002)
('2024-07-13', 9995.8)
('2024-07-14', 15537.36)
('2024-07-15', 10839.4)
('2024-07-16', 11258.04)
('2024-07-17', 10345.44)
('2024-07-18', 17383.64)
('2024-07-19', 19491.32)
('2024-07-20', 15772.0)
('2024-07-21', 21501.2)
('2024-07-22', 4659.12)
('2024-07-23', 21031.2)
('2024-07-24', 13971.72)
('2024-07-25', 14356.92)
('2024-07-26', 17796.920000000002)
('2024-07-27', 2674.0)
('2024-07-28', 15745.56)
('2024-07-29', 16664.68)
('2024-07-30', 18903.4)
('2024-08-01', 13610.36)
('2024-08-02', 8041.84)
('2024-08-03', 12590.08)
('2024-08-04', 15119.68)
('2024-08-05', 18041.48)
('2024-08-06', 4018.3599999999997)
('2024-08-07', 8758.24)
('2024-08-08', 17468.92)
('2024-08-09', 16935.28)
('2024-08-10', 13264.52)
('2024-08-11', 6053.88)
('2024-08-12', 19548.24)
('2024-08-13', 16307.039999999999)
('2024-08-14', 17937.079999999998)
('2024-08-15', 7838.2)
('2024-08-16', 5720.639999999999)
('2024-08-17', 19996.52)
('2024-08-18', 12725.76)
('2024-08-19', 20609.08)
('2024-08-20', 13423.960000000001)
('2024-08-21', 8660.199999999999)
('2024-08-22', 11603.2)
('2024-08-23', 13002.0)
('2024-08-24', 18853.28)
('2024-08-25', 25052.44)
('2024-08-26', 16243.039999999999)
('2024-08-27', 21093.84)
('2024-08-28', 5445.6)
('2024-08-29', 14429.0)
('2024-08-30', 5883.4)
('2024-09-01', 10877.52)
('2024-09-02', 15448.88)
('2024-09-03', 13797.6)
('2024-09-04', 13709.92)
('2024-09-05', 8002.5199999999995)
('2024-09-06', 14403.04)
('2024-09-07', 13354.16)
('2024-09-08', 11122.32)
('2024-09-09', 12436.359999999999)
('2024-09-10', 21707.16)
('2024-09-11', 21542.32)
('2024-09-12', 7986.16)
('2024-09-13', 10885.08)
('2024-09-14', 15466.48)
('2024-09-15', 12545.24)
('2024-09-16', 13319.08)
('2024-09-17', 22535.32)
('2024-09-18', 13230.039999999999)
('2024-09-19', 6172.6)
('2024-09-20', 32290.32)
('2024-09-21', 29461.92)
('2024-09-22', 12952.84)
('2024-09-23', 9341.68)
('2024-09-24', 24924.4)
('2024-09-25', 17837.96)
('2024-09-26', 25346.6)
('2024-09-27', 3841.52)
('2024-09-28', 10771.92)
('2024-09-29', 13887.76)
('2024-10-01', 10923.52)
('2024-10-02', 15452.359999999999)
('2024-10-03', 37150.32)
('2024-10-04', 5553.639999999999)
('2024-10-05', 8894.2)
('2024-10-06', 16905.56)
('2024-10-07', 21015.24)
('2024-10-08', 7433.88)
('2024-10-09', 14285.439999999999)
('2024-10-10', 10341.84)
('2024-10-11', 14770.119999999999)
('2024-10-12', 4729.4)
('2024-10-13', 6320.6)
('2024-10-14', 9457.32)
('2024-10-15', 8093.639999999999)
('2024-10-16', 21661.48)
('2024-10-17', 10530.279999999999)
('2024-10-18', 12727.92)
('2024-10-19', 12637.48)
('2024-10-20', 10121.64)
('2024-10-21', 5654.88)
('2024-10-22', 14034.48)
('2024-10-23', 25399.56)
('2024-10-24', 11899.119999999999)
('2024-10-25', 13565.800000000001)
('2024-10-26', 10756.84)
('2024-10-27', 16730.92)
('2024-10-28', 16490.28)
('2024-10-29', 21314.8)
('2024-10-30', 14291.96)
('2024-11-01', 18018.32)
('2024-11-02', 10991.24)
('2024-11-03', 17320.6)
('2024-11-04', 18449.64)
('2024-11-05', 17080.44)
('2024-11-06', 15555.8)
('2024-11-07', 13458.16)
('2024-11-08', 13678.24)
('2024-11-09', 8726.119999999999)
('2024-11-10', 17413.84)
('2024-11-11', 12329.16)
('2024-11-12', 21734.12)
('2024-11-13', 13853.6)
('2024-11-14', 3901.04)
('2024-11-15', 2264.0)
('2024-11-16', 14267.44)
('2024-11-17', 6995.280000000001)
('2024-11-18', 4193.36)
('2024-11-19', 12021.0)
('2024-11-20', 24823.6)
('2024-11-21', 12185.88)
('2024-11-22', 18662.16)
('2024-11-23', 17695.16)
('2024-11-24', 20463.28)
('2024-11-25', 26427.84)
('2024-11-26', 16807.36)
('2024-11-27', 14966.12)
('2024-11-28', 4204.16)
('2024-11-29', 2371.84)
('2024-12-01', 6443.48)
('2024-12-02', 13243.84)
('2024-12-03', 9919.8)
('2024-12-04', 19650.2)
('2024-12-05', 13032.56)
('2024-12-06', 9392.16)
('2024-12-07', 13400.44)
('2024-12-08', 14139.64)
('2024-12-09', 14121.6)
('2024-12-10', 15377.6)
('2024-12-11', 14668.48)
('2024-12-12', 12915.64)
('2024-12-13', 19291.24)
('2024-12-14', 26191.760000000002)
('2024-12-15', 9409.84)
('2024-12-16', 14100.039999999999)
('2024-12-17', 12883.84)
('2024-12-18', 8800.36)
('2024-12-19', 11636.6)
('2024-12-20', 21284.72)
('2024-12-21', 18250.44)
('2024-12-22', 14984.24)
('2024-12-23', 7524.32)
('2024-12-24', 10970.08)
('2024-12-25', 10388.72)
('2024-12-26', 17602.44)
('2024-12-27', 15021.04)
('2024-12-28', 9508.12)
('2024-12-29', 14231.44)
('2024-12-30', 4017.72)

In [41]:
# 8. January month Expenses:
select_query = "SELECT * FROM Expenses WHERE strftime('%Y-%m', Date) = '2024-01' LIMIT 200;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

(None, '2024-01-01', 'Food', 'Debit Card', 'Dinner delivery from zomato', 680.54, 0)
(None, '2024-01-01', 'Shopping', 'UPI', 'Purchased electronics', 740.19, 0)
(None, '2024-01-02', 'Shopping', 'UPI', 'Purchased electronics', 94.97, 0)
(None, '2024-01-02', 'Entertainment', 'UPI', 'Gaming console purchase', 100.81, 0)
(None, '2024-01-02', 'Transportation', 'Netbanking', 'Fuel refilled for the bike', 384.44, 0)
(None, '2024-01-02', 'Transportation', 'Netbanking', 'Uber ride to the office', 231.5, 0)
(None, '2024-01-02', 'Food', 'Debit Card', 'Had lunch at hotel', 943.08, 7.53)
(None, '2024-01-02', 'Entertainment', 'Cash', 'Gaming console purchase', 268.43, 0)
(None, '2024-01-03', 'Groceries', 'UPI', 'Grocery shopping at the local store', 241.53, 0)
(None, '2024-01-03', 'Entertainment', 'Cash', 'Gaming console purchase', 688.75, 0)
(None, '2024-01-03', 'Groceries', 'Cash', 'Purchased daily essentials', 402.69, 3.21)
(None, '2024-01-03', 'Food', 'Netbanking', 'Had lunch at hotel', 785.06, 0)
(None, '2024-01-03', 'Shopping', 'Debit Card', 'Bought household items', 860.42, 0)
(None, '2024-01-03', 'Shopping', 'Netbanking', "Bought a gift for a friend's birthday", 818, 0)
(None, '2024-01-03', 'Groceries', 'Credit Card', 'Bought fresh fruits and snacks', 863.83, 0)
(None, '2024-01-03', 'Transportation', 'Debit Card', 'Bought a metro ticket for travel', 957.41, 0)
(None, '2024-01-04', 'Medical Health', 'UPI', "Doctor's consultation fee", 479.32, 0)
(None, '2024-01-04', 'Investment', 'Netbanking', 'Invested in stocks', 218.99, 7.58)
(None, '2024-01-04', 'Shopping', 'Cash', 'Shopping for accessories', 669.85, 0)
(None, '2024-01-04', 'Entertainment', 'Credit Card', 'Concert tickets', 376.33, 0)
(None, '2024-01-04', 'Medical Health', 'UPI', "Doctor's consultation fee", 649.1, 0)
(None, '2024-01-05', 'Transportation', 'Credit Card', 'Uber ride to the office', 618.76, 0)
(None, '2024-01-05', 'Shopping', 'Debit Card', 'Shopping for accessories', 862.27, 0)
(None, '2024-01-05', 'Food', 'Netbanking', 'Ordered food from swiggy', 769.51, 9.77)
(None, '2024-01-05', 'Transportation', 'Debit Card', 'Paid for train ticket', 707.15, 0)
(None, '2024-01-05', 'Medical Health', 'Credit Card', 'Medical insurance payment', 782.23, 0)
(None, '2024-01-05', 'Medical Health', 'Netbanking', 'Health checkup cost', 327.24, 2.04)
(None, '2024-01-06', 'Investment', 'Netbanking', 'Investment in gold', 294.39, 0)
(None, '2024-01-06', 'Food', 'Netbanking', 'Had dinner at a restaurant with friends', 321.76, 0)
(None, '2024-01-06', 'Investment', 'Netbanking', 'Invested in stocks', 982.06, 0)
(None, '2024-01-07', 'Investment', 'Netbanking', 'Bought mutual fund units', 243.9, 6.06)
(None, '2024-01-07', 'Shopping', 'UPI', "Bought a gift for a friend's birthday", 997.61, 6.1)
(None, '2024-01-07', 'Food', 'UPI', 'Ordered food from swiggy', 607.43, 0)
(None, '2024-01-07', 'Shopping', 'Cash', 'Bought household items', 606.09, 0)
(None, '2024-01-07', 'Investment', 'Debit Card', 'Purchased bonds', 333.38, 3.24)
(None, '2024-01-07', 'Entertainment', 'Credit Card', 'Movie tickets', 720.11, 5.14)
(None, '2024-01-07', 'Entertainment', 'UPI', 'Gaming console purchase', 72.92, 0)
(None, '2024-01-07', 'Investment', 'Netbanking', 'Purchased bonds', 198.22, 0)
(None, '2024-01-07', 'Food', 'Cash', 'Dinner delivery from zomato', 939.58, 0)
(None, '2024-01-07', 'Groceries', 'Debit Card', 'Purchased daily essentials', 204.89, 0)
(None, '2024-01-08', 'Shopping', 'Cash', "Bought a gift for a friend's birthday", 644.48, 0)
(None, '2024-01-08', 'Transportation', 'Netbanking', 'Fuel refilled for the bike', 470.56, 0)
(None, '2024-01-08', 'Investment', 'Credit Card', 'Investment in gold', 212.2, 0)
(None, '2024-01-08', 'Entertainment', 'UPI', 'Concert tickets', 928.66, 0)
(None, '2024-01-08', 'Medical Health', 'UPI', "Doctor's consultation fee", 195.17, 0)
(None, '2024-01-08', 'Investment', 'Netbanking', 'Bought mutual fund units', 337.19, 0)
(None, '2024-01-08', 'Food', 'Debit Card', 'Dinner delivery from zomato', 998.5, 0)
(None, '2024-01-08', 'Entertainment', 'UPI', 'Movie tickets', 462.17, 0)
(None, '2024-01-08', 'Groceries', 'Credit Card', 'Grocery shopping at the local store', 125.58, 0)
(None, '2024-01-09', 'Investment', 'Cash', 'Purchased bonds', 830.82, 0)
(None, '2024-01-09', 'Investment', 'Netbanking', 'Investment in gold', 800.87, 0)
(None, '2024-01-09', 'Shopping', 'Cash', "Bought a gift for a friend's birthday", 118.08, 0)
(None, '2024-01-09', 'Food', 'Credit Card', 'Took out a meal from a restaurant', 436.1, 5.9)
(None, '2024-01-09', 'Transportation', 'UPI', 'Paid for train ticket', 820.7, 0)
(None, '2024-01-09', 'Food', 'Cash', 'Had dinner at a restaurant with friends', 355.71, 3.36)
(None, '2024-01-09', 'Shopping', 'Cash', "Bought a gift for a friend's birthday", 18.88, 5.02)
(None, '2024-01-09', 'Transportation', 'Credit Card', 'Bought a metro ticket for travel', 507.07, 0)
(None, '2024-01-09', 'Transportation', 'Netbanking', 'Paid for a cab ride to work', 626.68, 0)
(None, '2024-01-09', 'Shopping', 'Credit Card', 'Bought clothes', 21.63, 0)
(None, '2024-01-09', 'Medical Health', 'Credit Card', 'Medical insurance payment', 157.01, 1.69)
(None, '2024-01-09', 'Medical Health', 'Credit Card', "Doctor's consultation fee", 155.54, 0)
(None, '2024-01-09', 'Entertainment', 'Cash', 'Gaming console purchase', 331.32, 0)
(None, '2024-01-10', 'Food', 'Debit Card', 'Had dinner at a restaurant with friends', 113.44, 2.08)
(None, '2024-01-10', 'Groceries', 'Debit Card', 'Bought fresh fruits and snacks', 422.41, 1.04)
(None, '2024-01-10', 'Shopping', 'Netbanking', 'Bought household items', 631.44, 0.55)
(None, '2024-01-10', 'Food', 'UPI', 'Had dinner at a restaurant with friends', 504.3, 0)
(None, '2024-01-10', 'Investment', 'Cash', 'Purchased bonds', 550.08, 0)
(None, '2024-01-10', 'Medical Health', 'Credit Card', 'Health checkup cost', 528.22, 0)
(None, '2024-01-10', 'Groceries', 'Credit Card', 'Bought vegetables and fruits', 604.18, 0)
(None, '2024-01-10', 'Entertainment', 'Netbanking', 'Gaming console purchase', 568.37, 0)
(None, '2024-01-10', 'Groceries', 'Netbanking', 'Bought vegetables and fruits', 552.46, 0)
(None, '2024-01-11', 'Transportation', 'Netbanking', 'Paid for a cab ride to work', 953.13, 0)
(None, '2024-01-11', 'Transportation', 'Netbanking', 'Fuel refilled for the bike', 693.04, 0)
(None, '2024-01-11', 'Medical Health', 'UPI', "Doctor's consultation fee", 303.96, 0)
(None, '2024-01-11', 'Medical Health', 'Credit Card', 'Health checkup cost', 74.71, 0)
(None, '2024-01-11', 'Groceries', 'Cash', 'Bought vegetables and fruits', 682.84, 0)
(None, '2024-01-11', 'Medical Health', 'Cash', "Doctor's consultation fee", 329.15, 0)
(None, '2024-01-12', 'Entertainment', 'Cash', 'Gaming console purchase', 847.97, 0)
(None, '2024-01-12', 'Shopping', 'Debit Card', 'Purchased electronics', 650.75, 0)
(None, '2024-01-12', 'Groceries', 'Debit Card', 'Grocery shopping at the local store', 795.25, 0)
(None, '2024-01-12', 'Transportation', 'Credit Card', 'Bought a metro ticket for travel', 449.07, 0)
(None, '2024-01-12', 'Shopping', 'Debit Card', 'Purchased electronics', 949.97, 0)
(None, '2024-01-12', 'Transportation', 'Credit Card', 'Bought a metro ticket for travel', 517.59, 0)
(None, '2024-01-12', 'Food', 'Credit Card', 'Dinner delivery from zomato', 354.61, 0)
(None, '2024-01-12', 'Entertainment', 'Netbanking', 'Movie tickets', 556.04, 0)
(None, '2024-01-12', 'Entertainment', 'Credit Card', 'Movie tickets', 38.76, 0)
(None, '2024-01-13', 'Entertainment', 'Netbanking', 'Movie tickets', 329.45, 8.87)
(None, '2024-01-13', 'Food', 'Credit Card', 'Dinner delivery from zomato', 602.59, 0)
(None, '2024-01-13', 'Shopping', 'Debit Card', 'Purchased electronics', 51.66, 0)
(None, '2024-01-13', 'Shopping', 'UPI', 'Bought household items', 119.24, 6.33)
(None, '2024-01-13', 'Groceries', 'Credit Card', 'Bought vegetables and fruits', 241.99, 0)
(None, '2024-01-13', 'Shopping', 'UPI', 'Bought household items', 105.99, 0)
(None, '2024-01-14', 'Shopping', 'Cash', 'Shopping for accessories', 975.6, 0)
(None, '2024-01-14', 'Investment', 'Netbanking', 'Invested in stocks', 115.46, 0)
(None, '2024-01-14', 'Investment', 'Credit Card', 'Investment in gold', 730.11, 0)
(None, '2024-01-14', 'Food', 'Cash', 'Dinner delivery from zomato', 817.88, 0)
(None, '2024-01-14', 'Medical Health', 'Debit Card', "Doctor's consultation fee", 453.09, 0)
(None, '2024-01-14', 'Groceries', 'Debit Card', 'Purchased daily essentials', 103.38, 0)
(None, '2024-01-14', 'Groceries', 'Netbanking', 'Bought vegetables and fruits', 681.45, 0)
(None, '2024-01-14', 'Medical Health', 'Cash', 'Health checkup cost', 858.19, 0)
(None, '2024-01-14', 'Transportation', 'Debit Card', 'Fuel refilled for the bike', 254.83, 0)
(None, '2024-01-14', 'Medical Health', 'Cash', 'Medical insurance payment', 812.46, 0)
(None, '2024-01-14', 'Food', 'UPI', 'Had lunch at hotel', 545.58, 3.59)
(None, '2024-01-15', 'Entertainment', 'Debit Card', 'Concert tickets', 885.17, 0)
(None, '2024-01-15', 'Entertainment', 'Credit Card', 'Gaming console purchase', 242.26, 0)
(None, '2024-01-15', 'Groceries', 'Cash', 'Purchased daily essentials', 483.61, 8.71)
(None, '2024-01-16', 'Groceries', 'UPI', 'Bought vegetables and fruits', 280.46, 0)
(None, '2024-01-16', 'Transportation', 'Netbanking', 'Uber ride to the office', 871.91, 0)
(None, '2024-01-16', 'Groceries', 'Netbanking', 'Purchased daily essentials', 331.67, 0)
(None, '2024-01-16', 'Investment', 'Cash', 'Bought mutual fund units', 97.73, 0)
(None, '2024-01-17', 'Medical Health', 'Netbanking', 'Medical insurance payment', 610.45, 0)
(None, '2024-01-17', 'Shopping', 'Debit Card', "Bought a gift for a friend's birthday", 588.72, 0)
(None, '2024-01-17', 'Medical Health', 'Debit Card', 'Bought medication', 818.15, 0)
(None, '2024-01-17', 'Investment', 'Netbanking', 'Purchased bonds', 941.15, 0)
(None, '2024-01-17', 'Groceries', 'Cash', 'Bought fresh fruits and snacks', 810.77, 0)
(None, '2024-01-17', 'Medical Health', 'Debit Card', 'Medical insurance payment', 396.56, 0)
(None, '2024-01-17', 'Food', 'Debit Card', 'Took out a meal from a restaurant', 122.27, 0)
(None, '2024-01-18', 'Medical Health', 'UPI', "Doctor's consultation fee", 908.65, 0)
(None, '2024-01-18', 'Shopping', 'Debit Card', 'Bought household items', 558.84, 0)
(None, '2024-01-18', 'Investment', 'Credit Card', 'Purchased bonds', 537.45, 0)
(None, '2024-01-18', 'Shopping', 'UPI', 'Shopping for accessories', 545.66, 0)
(None, '2024-01-18', 'Groceries', 'UPI', 'Bought vegetables and fruits', 571.61, 2.96)
(None, '2024-01-18', 'Shopping', 'UPI', 'Bought clothes', 634.36, 0)
(None, '2024-01-18', 'Transportation', 'Debit Card', 'Paid for a cab ride to work', 399.49, 3.43)
(None, '2024-01-18', 'Investment', 'Credit Card', 'Investment in gold', 604.55, 0)
(None, '2024-01-19', 'Entertainment', 'Credit Card', 'Concert tickets', 277.51, 0)
(None, '2024-01-19', 'Investment', 'Debit Card', 'Invested in stocks', 840.56, 0)
(None, '2024-01-19', 'Shopping', 'UPI', 'Bought household items', 881.29, 5.86)
(None, '2024-01-19', 'Food', 'UPI', 'Dinner delivery from zomato', 513.62, 0)
(None, '2024-01-20', 'Transportation', 'UPI', 'Paid for train ticket', 245.11, 0)
(None, '2024-01-20', 'Groceries', 'Netbanking', 'Grocery shopping at the local store', 710.39, 0)
(None, '2024-01-20', 'Shopping', 'Netbanking', "Bought a gift for a friend's birthday", 959.3, 0)
(None, '2024-01-20', 'Investment', 'Debit Card', 'Bought mutual fund units', 593.49, 2.08)
(None, '2024-01-20', 'Food', 'UPI', 'Had lunch at hotel', 234.28, 0)
(None, '2024-01-20', 'Investment', 'Cash', 'Invested in stocks', 209.02, 2.94)
(None, '2024-01-21', 'Investment', 'Netbanking', 'Bought mutual fund units', 625.1, 0)
(None, '2024-01-21', 'Entertainment', 'Debit Card', 'Gaming console purchase', 712.33, 0)
(None, '2024-01-21', 'Investment', 'UPI', 'Purchased bonds', 496.76, 0.66)
(None, '2024-01-21', 'Groceries', 'Cash', 'Bought vegetables and fruits', 177.03, 0)
(None, '2024-01-21', 'Transportation', 'Cash', 'Paid for a cab ride to work', 591.27, 0)
(None, '2024-01-22', 'Groceries', 'Debit Card', 'Bought vegetables and fruits', 311.98, 0)
(None, '2024-01-22', 'Entertainment', 'Cash', 'Movie tickets', 373.15, 0)
(None, '2024-01-22', 'Food', 'Cash', 'Had dinner at a restaurant with friends', 65.59, 0)
(None, '2024-01-22', 'Food', 'Cash', 'Dinner delivery from zomato', 268.45, 0)
(None, '2024-01-22', 'Food', 'Credit Card', 'Ordered food from swiggy', 840.55, 0)
(None, '2024-01-22', 'Medical Health', 'UPI', 'Health checkup cost', 580.83, 2.83)
(None, '2024-01-22', 'Medical Health', 'Netbanking', 'Medical insurance payment', 73.81, 0)
(None, '2024-01-22', 'Medical Health', 'Netbanking', 'Medical insurance payment', 71.42, 0)
(None, '2024-01-23', 'Food', 'Cash', 'Took out a meal from a restaurant', 640.03, 0.75)
(None, '2024-01-23', 'Entertainment', 'Netbanking', 'Movie tickets', 559.97, 7.57)
(None, '2024-01-23', 'Shopping', 'Netbanking', 'Purchased electronics', 52.94, 0)
(None, '2024-01-23', 'Food', 'Credit Card', 'Had lunch at hotel', 829.59, 9.87)
(None, '2024-01-23', 'Medical Health', 'UPI', 'Medical insurance payment', 500.96, 0)
(None, '2024-01-23', 'Transportation', 'Credit Card', 'Paid for train ticket', 657.77, 0)
(None, '2024-01-23', 'Food', 'Cash', 'Had lunch at hotel', 484.24, 0.28)
(None, '2024-01-24', 'Groceries', 'Credit Card', 'Grocery shopping at the local store', 764.69, 0)
(None, '2024-01-24', 'Entertainment', 'Cash', 'Movie tickets', 240.74, 0)
(None, '2024-01-24', 'Investment', 'Cash', 'Bought mutual fund units', 706.44, 0)
(None, '2024-01-24', 'Food', 'UPI', 'Ordered food from swiggy', 517.65, 0)
(None, '2024-01-24', 'Entertainment', 'Netbanking', 'Gaming console purchase', 753.05, 0)
(None, '2024-01-24', 'Medical Health', 'Credit Card', 'Health checkup cost', 213.18, 0)
(None, '2024-01-24', 'Shopping', 'UPI', 'Bought clothes', 786.58, 0)
(None, '2024-01-24', 'Entertainment', 'UPI', 'Movie tickets', 269.22, 6.14)
(None, '2024-01-25', 'Medical Health', 'Credit Card', 'Health checkup cost', 728.92, 0)
(None, '2024-01-25', 'Entertainment', 'Debit Card', 'Gaming console purchase', 252.97, 0)
(None, '2024-01-25', 'Shopping', 'Netbanking', 'Bought household items', 795.41, 0)
(None, '2024-01-25', 'Entertainment', 'Netbanking', 'Concert tickets', 512.65, 0)
(None, '2024-01-25', 'Groceries', 'Credit Card', 'Bought fresh fruits and snacks', 274.98, 8.63)
(None, '2024-01-25', 'Entertainment', 'Credit Card', 'Movie tickets', 681.27, 6.3)
(None, '2024-01-25', 'Transportation', 'Debit Card', 'Uber ride to the office', 449.76, 0)
(None, '2024-01-25', 'Groceries', 'Credit Card', 'Bought fresh fruits and snacks', 418.17, 0)
(None, '2024-01-25', 'Groceries', 'Cash', 'Purchased daily essentials', 165.65, 0)
(None, '2024-01-25', 'Food', 'Cash', 'Dinner delivery from zomato', 610.2, 0)
(None, '2024-01-25', 'Medical Health', 'Cash', 'Medical insurance payment', 964.45, 0)
(None, '2024-01-26', 'Transportation', 'Netbanking', 'Paid for train ticket', 742.18, 0)
(None, '2024-01-26', 'Transportation', 'Netbanking', 'Bought a metro ticket for travel', 52.68, 0)
(None, '2024-01-26', 'Transportation', 'Credit Card', 'Paid for train ticket', 662.29, 0)
(None, '2024-01-27', 'Entertainment', 'Debit Card', 'Concert tickets', 356.2, 0)
(None, '2024-01-27', 'Shopping', 'Netbanking', 'Bought clothes', 524.63, 0)
(None, '2024-01-27', 'Investment', 'UPI', 'Investment in gold', 902.96, 0)
(None, '2024-01-28', 'Transportation', 'Cash', 'Uber ride to the office', 674.78, 0)
(None, '2024-01-28', 'Shopping', 'Credit Card', 'Purchased electronics', 779.04, 0)
(None, '2024-01-28', 'Transportation', 'UPI', 'Fuel refilled for the bike', 678.65, 0)
(None, '2024-01-28', 'Entertainment', 'Credit Card', 'Concert tickets', 740.02, 0)
(None, '2024-01-28', 'Food', 'Debit Card', 'Took out a meal from a restaurant', 234.48, 0)
(None, '2024-01-29', 'Transportation', 'Debit Card', 'Uber ride to the office', 564.87, 0)
(None, '2024-01-29', 'Groceries', 'UPI', 'Bought fresh fruits and snacks', 169.66, 0)
(None, '2024-01-29', 'Entertainment', 'Cash', 'Gaming console purchase', 197.67, 0)
(None, '2024-01-29', 'Entertainment', 'Debit Card', 'Movie tickets', 14.62, 0)
(None, '2024-01-30', 'Transportation', 'Netbanking', 'Paid for a cab ride to work', 456.03, 0)
(None, '2024-01-30', 'Entertainment', 'Netbanking', 'Gaming console purchase', 561.41, 0)
(None, '2024-01-30', 'Transportation', 'Debit Card', 'Uber ride to the office', 90.5, 0)
(None, '2024-01-30', 'Investment', 'Credit Card', 'Invested in stocks', 179.5, 0)
(None, '2024-01-30', 'Medical Health', 'Netbanking', "Doctor's consultation fee", 759.66, 8.32)
(None, '2024-01-30', 'Transportation', 'UPI', 'Uber ride to the office', 136.58, 0)
(None, '2024-01-30', 'Groceries', 'UPI', 'Grocery shopping at the local store', 137.28, 0)
(None, '2024-01-30', 'Entertainment', 'Debit Card', 'Movie tickets', 956.55, 7.73)
(None, '2024-01-30', 'Groceries', 'Cash', 'Purchased daily essentials', 124.37, 3.56)
(None, '2024-01-30', 'Transportation', 'Cash', 'Fuel refilled for the bike', 80.54, 0)
(None, '2024-01-30', 'Food', 'Cash', 'Took out a meal from a restaurant', 544.91, 0)

In [42]:
# 9. Total cashback receive per month:
select_query = "SELECT strftime('%Y-%m', Date) AS Month, SUM(Cashback) AS Total_cashback FROM Expenses GROUP BY Month ORDER BY Month;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

('2024-01', 710.88)
('2024-02', 444.16)
('2024-03', 531.72)
('2024-04', 389.56)
('2024-05', 380.52)
('2024-06', 381.76)
('2024-07', 384.96000000000004)
('2024-08', 570.84)
('2024-09', 409.48)
('2024-10', 341.71999999999997)
('2024-11', 653.88)
('2024-12', 247.48)

In [43]:
# 10. Total cashback receive per day:
select_query = "SELECT Date, SUM(Cashback) AS Total_cashback FROM Expenses GROUP BY Date ORDER BY Date;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

('2024-01-01', 0)
('2024-01-02', 30.12)
('2024-01-03', 12.84)
('2024-01-04', 30.32)
('2024-01-05', 47.239999999999995)
('2024-01-06', 0)
('2024-01-07', 82.16)
('2024-01-08', 0)
('2024-01-09', 63.879999999999995)
('2024-01-10', 14.68)
('2024-01-11', 0)
('2024-01-12', 0)
('2024-01-13', 60.8)
('2024-01-14', 14.36)
('2024-01-15', 34.84)
('2024-01-16', 0)
('2024-01-17', 0)
('2024-01-18', 25.560000000000002)
('2024-01-19', 23.44)
('2024-01-20', 20.08)
('2024-01-21', 2.64)
('2024-01-22', 11.32)
('2024-01-23', 73.88)
('2024-01-24', 24.56)
('2024-01-25', 59.72)
('2024-01-26', 0)
('2024-01-27', 0)
('2024-01-28', 0)
('2024-01-29', 0)
('2024-01-30', 78.44)
('2024-02-01', 0)
('2024-02-02', 56.6)
('2024-02-03', 0)
('2024-02-04', 38.08)
('2024-02-05', 0)
('2024-02-06', 29.96)
('2024-02-07', 27.2)
('2024-02-08', 0)
('2024-02-09', 0)
('2024-02-10', 0)
('2024-02-11', 14.88)
('2024-02-12', 36.2)
('2024-02-13', 28.88)
('2024-02-14', 40.52)
('2024-02-15', 11.2)
('2024-02-16', 1.6)
('2024-02-17', 0)
('2024-02-18', 34.6)
('2024-02-19', 0)
('2024-02-20', 13.76)
('2024-02-21', 27.24)
('2024-02-22', 0)
('2024-02-23', 37.52)
('2024-02-24', 0)
('2024-02-25', 1.56)
('2024-02-26', 18.2)
('2024-02-27', 0)
('2024-02-28', 26.16)
('2024-03-01', 0)
('2024-03-02', 0)
('2024-03-03', 22.2)
('2024-03-04', 62.6)
('2024-03-05', 26.44)
('2024-03-06', 0)
('2024-03-07', 63.08)
('2024-03-08', 0)
('2024-03-09', 0)
('2024-03-10', 34.120000000000005)
('2024-03-11', 0)
('2024-03-12', 23.0)
('2024-03-13', 0)
('2024-03-14', 0)
('2024-03-15', 5.36)
('2024-03-16', 16.68)
('2024-03-17', 0)
('2024-03-18', 0)
('2024-03-19', 0)
('2024-03-20', 59.4)
('2024-03-21', 5.52)
('2024-03-22', 24.6)
('2024-03-23', 0)
('2024-03-24', 50.24)
('2024-03-25', 43.879999999999995)
('2024-03-26', 0)
('2024-03-27', 4.28)
('2024-03-28', 32.2)
('2024-03-29', 21.04)
('2024-03-30', 37.08)
('2024-04-01', 0)
('2024-04-02', 0)
('2024-04-03', 0)
('2024-04-04', 39.88)
('2024-04-05', 29.72)
('2024-04-06', 24.8)
('2024-04-07', 29.560000000000002)
('2024-04-08', 0)
('2024-04-09', 0)
('2024-04-10', 9.76)
('2024-04-11', 67.4)
('2024-04-12', 0)
('2024-04-13', 0)
('2024-04-14', 0)
('2024-04-15', 0)
('2024-04-16', 49.8)
('2024-04-17', 0)
('2024-04-18', 0)
('2024-04-19', 22.72)
('2024-04-20', 22.24)
('2024-04-21', 15.72)
('2024-04-22', 0)
('2024-04-23', 0)
('2024-04-24', 0)
('2024-04-25', 0)
('2024-04-26', 38.519999999999996)
('2024-04-27', 0)
('2024-04-28', 0)
('2024-04-29', 39.44)
('2024-05-01', 0)
('2024-05-02', 0)
('2024-05-03', 28.96)
('2024-05-04', 0)
('2024-05-05', 66.8)
('2024-05-06', 28.88)
('2024-05-07', 0)
('2024-05-08', 45.44)
('2024-05-09', 0)
('2024-05-10', 43.2)
('2024-05-11', 1.56)
('2024-05-12', 2.84)
('2024-05-13', 11.32)
('2024-05-14', 0)
('2024-05-15', 0)
('2024-05-16', 0)
('2024-05-17', 17.4)
('2024-05-18', 20.08)
('2024-05-19', 71.44)
('2024-05-20', 8.56)
('2024-05-21', 0)
('2024-05-22', 0)
('2024-05-23', 0)
('2024-05-24', 34.04)
('2024-05-25', 0)
('2024-05-26', 0)
('2024-05-27', 0)
('2024-05-28', 0)
('2024-05-29', 0)
('2024-05-30', 0)
('2024-06-01', 28.12)
('2024-06-02', 0)
('2024-06-03', 0)
('2024-06-04', 0)
('2024-06-05', 0)
('2024-06-06', 42.92)
('2024-06-07', 17.52)
('2024-06-08', 54.8)
('2024-06-09', 19.4)
('2024-06-10', 0)
('2024-06-11', 0)
('2024-06-12', 0)
('2024-06-13', 23.52)
('2024-06-14', 0)
('2024-06-15', 0)
('2024-06-16', 0)
('2024-06-17', 1.96)
('2024-06-18', 24.24)
('2024-06-19', 0)
('2024-06-20', 0)
('2024-06-21', 57.879999999999995)
('2024-06-22', 21.64)
('2024-06-23', 34.8)
('2024-06-24', 7.76)
('2024-06-25', 0)
('2024-06-26', 0)
('2024-06-27', 0)
('2024-06-28', 21.2)
('2024-06-29', 26.0)
('2024-07-01', 0)
('2024-07-02', 0)
('2024-07-03', 0)
('2024-07-04', 0)
('2024-07-05', 0)
('2024-07-06', 2.88)
('2024-07-07', 0)
('2024-07-08', 0)
('2024-07-09', 4.28)
('2024-07-10', 26.28)
('2024-07-11', 0)
('2024-07-12', 49.24)
('2024-07-13', 0)
('2024-07-14', 68.12)
('2024-07-15', 46.08)
('2024-07-16', 17.64)
('2024-07-17', 2.68)
('2024-07-18', 17.92)
('2024-07-19', 18.0)
('2024-07-20', 52.519999999999996)
('2024-07-21', 0)
('2024-07-22', 0)
('2024-07-23', 41.68)
('2024-07-24', 0)
('2024-07-25', 0)
('2024-07-26', 0)
('2024-07-27', 0)
('2024-07-28', 37.64)
('2024-07-29', 0)
('2024-07-30', 0)
('2024-08-01', 29.04)
('2024-08-02', 29.16)
('2024-08-03', 12.32)
('2024-08-04', 35.08)
('2024-08-05', 32.52)
('2024-08-06', 0)
('2024-08-07', 19.76)
('2024-08-08', 48.959999999999994)
('2024-08-09', 0)
('2024-08-10', 0)
('2024-08-11', 5.12)
('2024-08-12', 0)
('2024-08-13', 0)
('2024-08-14', 28.08)
('2024-08-15', 0)
('2024-08-16', 38.36)
('2024-08-17', 52.32)
('2024-08-18', 0)
('2024-08-19', 36.44)
('2024-08-20', 1.68)
('2024-08-21', 0)
('2024-08-22', 20.12)
('2024-08-23', 29.72)
('2024-08-24', 32.24)
('2024-08-25', 83.12)
('2024-08-26', 10.8)
('2024-08-27', 16.28)
('2024-08-28', 0)
('2024-08-29', 9.72)
('2024-08-30', 0)
('2024-09-01', 0)
('2024-09-02', 0)
('2024-09-03', 0)
('2024-09-04', 26.44)
('2024-09-05', 0)
('2024-09-06', 33.239999999999995)
('2024-09-07', 0)
('2024-09-08', 24.64)
('2024-09-09', 21.76)
('2024-09-10', 0)
('2024-09-11', 0)
('2024-09-12', 18.84)
('2024-09-13', 37.44)
('2024-09-14', 0)
('2024-09-15', 0)
('2024-09-16', 0)
('2024-09-17', 0)
('2024-09-18', 35.68)
('2024-09-19', 0)
('2024-09-20', 31.68)
('2024-09-21', 73.52)
('2024-09-22', 0)
('2024-09-23', 12.52)
('2024-09-24', 0)
('2024-09-25', 33.72)
('2024-09-26', 47.2)
('2024-09-27', 0)
('2024-09-28', 0)
('2024-09-29', 12.8)
('2024-10-01', 18.04)
('2024-10-02', 43.96)
('2024-10-03', 72.84)
('2024-10-04', 0)
('2024-10-05', 0)
('2024-10-06', 0)
('2024-10-07', 15.6)
('2024-10-08', 0)
('2024-10-09', 0.76)
('2024-10-10', 0)
('2024-10-11', 0)
('2024-10-12', 0)
('2024-10-13', 0)
('2024-10-14', 0)
('2024-10-15', 0)
('2024-10-16', 15.16)
('2024-10-17', 8.52)
('2024-10-18', 17.88)
('2024-10-19', 23.8)
('2024-10-20', 0)
('2024-10-21', 0)
('2024-10-22', 0)
('2024-10-23', 46.08)
('2024-10-24', 0)
('2024-10-25', 0)
('2024-10-26', 73.16)
('2024-10-27', 5.92)
('2024-10-28', 0)
('2024-10-29', 0)
('2024-10-30', 0)
('2024-11-01', 69.11999999999999)
('2024-11-02', 0)
('2024-11-03', 10.28)
('2024-11-04', 18.119999999999997)
('2024-11-05', 22.32)
('2024-11-06', 79.36)
('2024-11-07', 0)
('2024-11-08', 5.88)
('2024-11-09', 16)
('2024-11-10', 0)
('2024-11-11', 62.64)
('2024-11-12', 0)
('2024-11-13', 13.079999999999998)
('2024-11-14', 0)
('2024-11-15', 17.52)
('2024-11-16', 26.96)
('2024-11-17', 0)
('2024-11-18', 0)
('2024-11-19', 0)
('2024-11-20', 65.64)
('2024-11-21', 14.28)
('2024-11-22', 30.0)
('2024-11-23', 27.92)
('2024-11-24', 57.64)
('2024-11-25', 4.72)
('2024-11-26', 32.92)
('2024-11-27', 79.47999999999999)
('2024-11-28', 0)
('2024-11-29', 0)
('2024-12-01', 0)
('2024-12-02', 30.76)
('2024-12-03', 0)
('2024-12-04', 3.88)
('2024-12-05', 2.24)
('2024-12-06', 0)
('2024-12-07', 24.6)
('2024-12-08', 0)
('2024-12-09', 33.12)
('2024-12-10', 16.04)
('2024-12-11', 21.36)
('2024-12-12', 0)
('2024-12-13', 0)
('2024-12-14', 3.4)
('2024-12-15', 0)
('2024-12-16', 0)
('2024-12-17', 0)
('2024-12-18', 4.16)
('2024-12-19', 0)
('2024-12-20', 25.439999999999998)
('2024-12-21', 0)
('2024-12-22', 0)
('2024-12-23', 0)
('2024-12-24', 17.2)
('2024-12-25', 38.84)
('2024-12-26', 0)
('2024-12-27', 25.6)
('2024-12-28', 0)
('2024-12-29', 0.84)
('2024-12-30', 0)

In [44]:
# 11. Total, Avg, Min, Max spending by payment mode:
select_query = "SELECT Payment_Mode, SUM(Amount) AS Total_spent, Avg(Amount) AS Avg_spent, MAX(amount) AS Max_spent, MIN(amount) AS Min_spent FROM Expenses GROUP BY Payment_Mode ORDER BY Total_spent, Avg_spent, Max_spent, Min_spent;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

('UPI', 879766.44, 488.7591333333333, 997.61, 14.53)
('Credit Card', 969947.8, 514.8342887473461, 996.06, 11.38)
('Cash', 991085.2, 502.5787018255578, 999.2, 13.36)
('Netbanking', 1013243.32, 504.6032470119522, 998.37, 21.84)
('Debit Card', 1047623.2, 541.1276859504133, 998.73, 14.62)

In [45]:
# 12. Count of transactions by payment mode:
select_query = "SELECT Payment_Mode, COUNT(*) AS Transaction_count FROM Expenses GROUP BY Payment_Mode ORDER BY transaction_count DESC;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

('Netbanking', 2008)
('Cash', 1972)
('Debit Card', 1936)
('Credit Card', 1884)
('UPI', 1800)

In [46]:
# 13. Total cashback receive:
select_query = "SELECT SUM(Cashback) AS total_cashback FROM Expenses;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

(5446.96,)

In [47]:
# 14. Avg, Max, Min cashback receive in each transaction:
select_query = "SELECT AVG(Cashback) AS Avg_cashback, MAX(Cashback) AS Max_cashback, MIN(Cashback) AS Min_cashback FROM Expenses;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

(0.5673916666666666, 9.97, 0)

In [48]:
# 15. Total cashback by payment mode:
select_query = "SELECT Payment_Mode, SUM(Cashback) AS Total_cashback FROM Expenses GROUP BY Payment_Mode ORDER BY total_cashback;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

('Cash', 111.32000000000001)
('Netbanking', 203.04)
('Credit Card', 1453.76)
('UPI', 1671.76)
('Debit Card', 2007.08)

In [49]:
# 16. Total spending after cashback:
select_query = "SELECT SUM(Amount - Cashback) AS Total_spent_after_cashback FROM Expenses;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

(4896219.0,)

In [50]:
# 17. Total spending after cashback for Each Category:
select_query = "SELECT Category, SUM(Amount - Cashback) AS Total_spent_after_cashback FROM Expenses GROUP BY Category ORDER BY Total_spent_after_cashback DESC;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

('Groceries', 733785.44)
('Food', 721291.36)
('Entertainment', 717864.5599999999)
('Shopping', 700360.76)
('Investment', 692724.4)
('Transportation', 671515.4)
('Medical Health', 658677.08)

In [51]:
# 18. Total cashback receive for each category:
select_query = "SELECT Category, SUM(Cashback) AS Total_cashback FROM Expenses GROUP BY Category ORDER BY total_cashback DESC;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

('Medical Health', 968.8)
('Entertainment', 881.12)
('Investment', 796.92)
('Groceries', 774.84)
('Food', 770.68)
('Shopping', 683.4)
('Transportation', 571.2)

In [53]:
# 19. Month-Wise Count of Transactions for Each Category:
select_query = "SELECT strftime('%Y-%m', Date) AS Month, Category, COUNT(*) AS Transaction_count FROM Expenses GROUP BY Month, Category ORDER BY Month, Transaction_count DESC;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

('2024-01', 'Entertainment', 128)
('2024-01', 'Transportation', 120)
('2024-01', 'Shopping', 120)
('2024-01', 'Food', 116)
('2024-01', 'Groceries', 112)
('2024-01', 'Medical Health', 104)
('2024-01', 'Investment', 100)
('2024-02', 'Medical Health', 160)
('2024-02', 'Groceries', 124)
('2024-02', 'Entertainment', 124)
('2024-02', 'Transportation', 100)
('2024-02', 'Investment', 100)
('2024-02', 'Food', 100)
('2024-02', 'Shopping', 92)
('2024-03', 'Investment', 136)
('2024-03', 'Groceries', 136)
('2024-03', 'Medical Health', 116)
('2024-03', 'Food', 116)
('2024-03', 'Transportation', 108)
('2024-03', 'Entertainment', 100)
('2024-03', 'Shopping', 88)
('2024-04', 'Investment', 140)
('2024-04', 'Food', 132)
('2024-04', 'Shopping', 116)
('2024-04', 'Groceries', 116)
('2024-04', 'Transportation', 112)
('2024-04', 'Entertainment', 96)
('2024-04', 'Medical Health', 88)
('2024-05', 'Shopping', 156)
('2024-05', 'Entertainment', 140)
('2024-05', 'Food', 124)
('2024-05', 'Medical Health', 112)
('2024-05', 'Investment', 104)
('2024-05', 'Groceries', 96)
('2024-05', 'Transportation', 68)
('2024-06', 'Groceries', 152)
('2024-06', 'Entertainment', 124)
('2024-06', 'Transportation', 120)
('2024-06', 'Investment', 120)
('2024-06', 'Medical Health', 112)
('2024-06', 'Shopping', 88)
('2024-06', 'Food', 84)
('2024-07', 'Food', 144)
('2024-07', 'Groceries', 128)
('2024-07', 'Transportation', 124)
('2024-07', 'Entertainment', 124)
('2024-07', 'Investment', 108)
('2024-07', 'Shopping', 88)
('2024-07', 'Medical Health', 84)
('2024-08', 'Entertainment', 140)
('2024-08', 'Investment', 136)
('2024-08', 'Food', 128)
('2024-08', 'Shopping', 104)
('2024-08', 'Medical Health', 104)
('2024-08', 'Transportation', 96)
('2024-08', 'Groceries', 92)
('2024-09', 'Transportation', 152)
('2024-09', 'Food', 152)
('2024-09', 'Groceries', 128)
('2024-09', 'Shopping', 120)
('2024-09', 'Medical Health', 88)
('2024-09', 'Investment', 88)
('2024-09', 'Entertainment', 72)
('2024-10', 'Entertainment', 136)
('2024-10', 'Medical Health', 132)
('2024-10', 'Shopping', 124)
('2024-10', 'Groceries', 120)
('2024-10', 'Investment', 112)
('2024-10', 'Transportation', 92)
('2024-10', 'Food', 84)
('2024-11', 'Medical Health', 148)
('2024-11', 'Groceries', 140)
('2024-11', 'Entertainment', 132)
('2024-11', 'Transportation', 116)
('2024-11', 'Investment', 100)
('2024-11', 'Shopping', 92)
('2024-11', 'Food', 72)
('2024-12', 'Entertainment', 136)
('2024-12', 'Food', 124)
('2024-12', 'Transportation', 120)
('2024-12', 'Shopping', 112)
('2024-12', 'Investment', 112)
('2024-12', 'Medical Health', 100)
('2024-12', 'Groceries', 96)

In [52]:
# 20. Count of transactions by Description:
select_query = "SELECT Description, COUNT(*) AS count FROM Expenses GROUP BY Description ORDER BY count DESC;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

('Concert tickets', 524)
('Gaming console purchase', 504)
('Movie tickets', 424)
('Bought vegetables and fruits', 400)
('Invested in stocks', 376)
('Bought medication', 364)
('Bought fresh fruits and snacks', 364)
('Grocery shopping at the local store', 344)
('Bought mutual fund units', 340)
('Medical insurance payment', 336)
('Purchased daily essentials', 332)
('Purchased bonds', 328)
("Doctor's consultation fee", 328)
('Health checkup cost', 320)
('Dinner delivery from zomato', 320)
('Investment in gold', 312)
('Uber ride to the office', 304)
('Ordered food from swiggy', 288)
('Took out a meal from a restaurant', 280)
("Bought a gift for a friend's birthday", 280)
('Purchased electronics', 276)
('Paid for train ticket', 276)
('Fuel refilled for the bike', 276)
('Shopping for accessories', 260)
('Paid for a cab ride to work', 256)
('Had dinner at a restaurant with friends', 248)
('Bought clothes', 244)
('Had lunch at hotel', 240)
('Bought household items', 240)
('Bought a metro ticket for travel', 216)

In [54]:
# 21. Category wise highest spending in each month:
select_query = "SELECT strftime('%Y-%m', Date) AS Month, Category, SUM(Amount) AS Total_spent FROM Expenses GROUP BY Month, Category ORDER BY Month, Total_spent DESC;"
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

('2024-01', 'Shopping', 68175.56)
('2024-01', 'Food', 62726.12)
('2024-01', 'Transportation', 62185.36)
('2024-01', 'Entertainment', 59507.4)
('2024-01', 'Medical Health', 50929.72)
('2024-01', 'Investment', 50329.52)
('2024-01', 'Groceries', 46619.200000000004)
('2024-02', 'Medical Health', 79923.08)
('2024-02', 'Groceries', 73806.36)
('2024-02', 'Entertainment', 72779.48)
('2024-02', 'Shopping', 52654.04)
('2024-02', 'Food', 50343.2)
('2024-02', 'Investment', 49928.479999999996)
('2024-02', 'Transportation', 45261.12)
('2024-03', 'Investment', 69978.4)
('2024-03', 'Food', 61428.04)
('2024-03', 'Groceries', 59581.24)
('2024-03', 'Medical Health', 52145.56)
('2024-03', 'Shopping', 50624.96)
('2024-03', 'Transportation', 47905.68)
('2024-03', 'Entertainment', 41657.32)
('2024-04', 'Food', 74863.2)
('2024-04', 'Investment', 71484.64)
('2024-04', 'Shopping', 68721.16)
('2024-04', 'Groceries', 57304.76)
('2024-04', 'Transportation', 55706.12)
('2024-04', 'Entertainment', 50117.56)
('2024-04', 'Medical Health', 41682.08)
('2024-05', 'Shopping', 84983.6)
('2024-05', 'Entertainment', 66224.12)
('2024-05', 'Food', 63488.6)
('2024-05', 'Medical Health', 56333.52)
('2024-05', 'Groceries', 53904.68)
('2024-05', 'Investment', 48364.88)
('2024-05', 'Transportation', 33040.48)
('2024-06', 'Groceries', 77615.96)
('2024-06', 'Transportation', 65410.76)
('2024-06', 'Investment', 60462.92)
('2024-06', 'Entertainment', 55077.8)
('2024-06', 'Medical Health', 45898.2)
('2024-06', 'Shopping', 43267.8)
('2024-06', 'Food', 42254.48)
('2024-07', 'Food', 86202.0)
('2024-07', 'Groceries', 65444.2)
('2024-07', 'Entertainment', 63327.56)
('2024-07', 'Investment', 58215.08)
('2024-07', 'Transportation', 53334.36)
('2024-07', 'Medical Health', 45342.72)
('2024-07', 'Shopping', 45223.28)
('2024-08', 'Investment', 66973.48)
('2024-08', 'Entertainment', 64726.12)
('2024-08', 'Food', 61404.32)
('2024-08', 'Medical Health', 58524.36)
('2024-08', 'Transportation', 57089.12)
('2024-08', 'Shopping', 56152.12)
('2024-08', 'Groceries', 43405.64)
('2024-09', 'Transportation', 86358.36)
('2024-09', 'Food', 72525.88)
('2024-09', 'Shopping', 70779.32)
('2024-09', 'Groceries', 69396.4)
('2024-09', 'Investment', 53656.44)
('2024-09', 'Medical Health', 45228.64)
('2024-09', 'Entertainment', 41253.68)
('2024-10', 'Entertainment', 73719.48)
('2024-10', 'Groceries', 63832.2)
('2024-10', 'Shopping', 62685.799999999996)
('2024-10', 'Medical Health', 60288.08)
('2024-10', 'Investment', 52343.76)
('2024-10', 'Transportation', 51774.68)
('2024-10', 'Food', 44500.52)
('2024-11', 'Medical Health', 76619.28)
('2024-11', 'Groceries', 75826.48)
('2024-11', 'Entertainment', 62204.44)
('2024-11', 'Transportation', 61139.24)
('2024-11', 'Investment', 47328.8)
('2024-11', 'Shopping', 44633.32)
('2024-11', 'Food', 33107.24)
('2024-12', 'Food', 69218.44)
('2024-12', 'Entertainment', 68150.72)
('2024-12', 'Investment', 64454.92)
('2024-12', 'Shopping', 53143.2)
('2024-12', 'Transportation', 52881.32)
('2024-12', 'Groceries', 47823.16)
('2024-12', 'Medical Health', 46730.64)